.navbar .nav > li > a,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  padding: 10px 15px;
}

#segment-footer > .container {
  background-color: #AD1F2F;
}
.navbar-inverse {
  background-color: #AD1F2F;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #808080;
}
#mng-nav {
  line-height: 50px;
  float: left;
  margin-top: 4px;
  color: #808080;
}
#mng-nav a {
  color: inherit;
}
#mng-logo, #eng-logo {
  float: left;
  margin-left: 6px;
}
/*
#hl7-search {
  line-height: 50px;
  float: right;
  margin-top: 4px;
  color: maroon;
}
#hl7-search a {
  color: inherit;
}

 */
#project-nav {
  line-height: 50px;
  float: left;
  margin-top: 4px;
  margin-bottom: 4px;
  color: #808080;
}
#project-logo {
  float: left;
  margin-left: 3px;
}

/* ----------sections hidden for now------*/

.note-to-balloters, .stu-note, #publish-box {
  display: none
}

.svg-fill {
  width: 100% !important;
  height: unset !important;
}